.episode{
  margin-left: 24rem;
  color: black;
  .episode-article{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 600px;
  }

  .episode-content{
    .episode-title{
      padding: 0.8rem;
    }
    .episode-description{
      padding: 0.5rem;
    }
    .episode-audio{
      padding: 0.5rem;
    }
  }
}