.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: start;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 60px;

    &:hover {
      background-color: #dddddd65;
    }


    .podcast-image {
      border-radius: 50%;
      object-fit: cover;
      position: relative;
      margin-top: -60px;
    }


    .podcast-content {
      width: 100%;
      min-height: 7.5rem;
      margin-top: -4.5rem;
      padding-top: 5rem;
      padding-bottom: 0.5rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;

      .podcast-title {
        color: black;
        font-size: 1rem;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
      }

      .podcast-autor {
        margin-top: 0.5rem;
        color: #666;
        font-size: 0.9rem;
        text-align: center;
      }
    }
  }
}