#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display:flex;
  flex-direction: column;
}

.Podcast-search{
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
  align-self: end; 
  margin-bottom: 2rem;
}

.Counter{
  width: 50px;
  height: 20px;
  background-color: #008ae6;
  color: #fff;
  border-radius: 20%;
  vertical-align: middle;
}

.App-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-title{
  text-align:left;
  color: #008ae6;
  cursor: pointer;
}

.App-filter{
  width: 100%;
  margin-left: 0.5rem;
  background-color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: start;
}

.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #dddddd65;
}

.title{
  color: black;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  text-transform:uppercase;
}

.autor{
  margin-top: 0.5rem;
    color: #666;
    font-size: 0.9rem;
    text-align: center;
}

.episode{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 600px;
}


.podcastLayout{
  color: black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 250px;
  min-height: fit-content;
  position: absolute;
  top: 8rem;
  left: 12rem;
  word-wrap: break-word;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.podcastLayout:hover {
  background-color: #dddddd65;
}

.lds-ripple {
  position: relative;
  width: 20px;
  height: 20px;
  align-self: end; 
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  background-color: #008ae6;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 36px;
    height: 36px;
    opacity: 0;
  }
}

.Episode-table{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  width: 100%;
}

.Episode-table th,
.Episode-table td {
  padding: 8px;
  text-align: left;
  vertical-align: initial;
}

thead{
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.Episode-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

