#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-header{
  display:flex;
  flex-direction: column;
}

.App-title{
  text-align:left;
  color: #008ae6;
}

.App-filter{
  align-self: self-end;
  width: 20%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-gap: 20px;
}

.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title{
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  text-transform:uppercase;
}

.autor{
  margin-top: 0.5rem;
    color: #666;
    font-size: 0.9rem;
    text-align: center;
}



.podcastDetail{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  height: 75%;
  position: fixed;
  top: 4rem;
  left: 4rem;
}